{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Film Catalog</h1>
    {% if tasks|length < 1 %}
    <h4>Please add some films first </h4>
    
    {% else %}
    <table>
        <tr>
            <th>Film Name</th>
            <th>Category</th>
            <th>Added</th>
            <th>Rented</th>
            <th>Operation</th>
        </tr>

        {% for task in tasks%}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.category }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>{{ "Y" if task.completed else "N" }}</td>
                <td>
                    <a href="/update/{{task.id}}">Update</a>
                    <br>
                    <a href="/delete/{{task.id}}" style="color: red;">Delete</a>
                    <br>
                    <a href="/rent/{{task.id}}">Rent</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    
    <div id="addtask">
        <form action="/" method="POST" >
            <input type="text" name="content" id="content"/>
            <input type="submit" value="Add ">
        </form>
    </div>
    <br>
    <a href="/rentals">check rentals</a>
    <a href="/customers">view customers</a>
</div>
{% endblock %}