{% extends 'base.html' %}
{% block head %} Video Rental Store {% endblock %}

{% block content %}
<div class="container">
    <h2>Film Catalog</h2>
    <hr/>
    {% if films|length < 1 %}
    <h4>Please add some films first </h4>
    
    {% else %}
    <table class="table table-hover">
        <thead class="table-dark">
            <tr class="bg-primary">
                <th>Film Name</th>
                <th>Category</th>
                <th>Added</th>
                <th>Rented</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            {% for film in films %}
                <tr>
                    <td>{{ film.name }}</td>
                    <td>{{ film.category }}</td>
                    <td>{{ film.date_added.date() }}</td>
                    <td>{{ "Y" if film.available else "N" }}</td>
                    <td>
                        <div class="row align-items-center">
                            <div class="col-2">
                                <a class="btn btn-warning" href="/rent/{{film.id}}">Rent</a>
                            </div>
                            <div class="col-2">
                                <a class="btn btn-primary" href="/update/{{film.id}}">Update</a>
                            </div>
                            <div class="col-2">
                                <a class="btn btn-danger" href="/delete/{{film.id}}">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    
    <div id="addfilm">
        <form action="/" method="POST" >
            <input type="text" name="fname" id="fname"/>
            <input type="submit" value="Add">
        </form>
    </div>
    <br>
</div>
{% endblock %}