{% extends 'base.html' %}

{% block title %}
<title>Rentals</title>
{% endblock%}

{% block content %}
<div class="container">
    <h2>Rental records</h2>
    <hr/>
    {% if rentals|length < 1 %}
    <h4>No film has been rented out yet!</h4>
    <br>
    
    {% else %}
    <table class="table table-hover">
        <thead class="table-dark">
            <tr class="bg-warning">
                <th>Rental ID</th>
                <th>Customer ID</th>
                <th>Film</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Price ($SEK)</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for rental in rentals%}
                <tr>
                    <td>{{ rental.id }}</td>
                    <td>{{ rental.cust_id }}</td>
                    <td>{{ rental.film_name }}</td>
                    <td>{{ rental.start_date }}</td>
                    <td>{{ rental.end_date }}</td>
                    <td>30</td>
                    <td>
                        <a href="/return/{{rental.id}}">Return</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <br>
</div>
{% endblock%}