{% extends 'base.html' %}

{% block title %}
<title>Customer list</title>
{% endblock%}

{% block content %}
<div class="container">
    <div class="row align-items-center">
        <div class="col-8">
            <h2>Customer List</h2>
        </div>
        <div class="col-2">
            <a class="btn btn-outline-info" href="/customers/add">Add a customer</a>
        </div>
        
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-info" data-toggle="collapse" href="#bonuspointinfo" role="button" aria-expanded="false" aria-controls="pricetier">
                What is bonus point?
            </a>
            <div class="collapse" id="bonuspointinfo">
                <div class="card card-body">
                    <p>Customers get bonus points when renting films.</p>
                    <p>A new release gives two points and other films give one point per rental (regardless of the time rented).</p>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    {% if customers|length < 1 %}
    <h4>Please add some customers first </h4>
    
    {% else %}
    <table class="table table-hover">
        <thead class="table-dark">
            <tr class="bg-info">
                <th>Customer ID</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last name</th>
                <th>Bonus Points</th>
            </tr>
        </thead>

        <tbody>
            {% for customer in customers%}
                <tr>
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.first_name }}</td>
                    <td>{{ customer.last_name }}</td>
                    <td>{{ customer.bonus_points }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <!-- <br/>
    <h2>Add a new customer</h2>
    <div id="addcustomer">
        <form action="/customers" method="POST" >
            <input type="text" name="email" id="cust_email" value="email"/>
            <input type="text" name="firstname" id="first_name" value="first name"/>
            <input type="text" name="lastname" id="last_name" value="last name"/>
            <input type="submit" value="Add ">
        </form>
    </div>
    <br/> -->
    <hr/>
</div>
{% endblock%}