{% extends 'base.html' %}

{% block title %}
<title>Rentals</title>
{% endblock%}

{% block content %}
<div class="container">
    <div>
        <h2>Rental Records</h2>
        <a class="btn btn-outline-warning" data-toggle="collapse" href="#pricetier" role="button" aria-expanded="false" aria-controls="pricetier">
            View Prices
        </a>
        <div class="collapse" id="pricetier">
            <div class="card card-body">
                <p>Price tiers (premium: 40 SEK, basic: 30 SEK)</p>
                <ul>
                    <li>New release: premium, 40 SEK per day</li>
                    <li>Regular film: basic, 30 SEK within 3 days, 30 SEK per day afterwards</li>
                    <li>Old film: basic, 30 SEK within 5 days, 30 SEK per day afterwards</li>
                </ul>
            </div>
        </div>
    </div>
    <hr/>
    {% if rentals|length < 1 %}
    <h4>No film has been rented out yet!</h4>
    <h4>Please make a rental through the film catalogue!</h4>
    <br>
    
    {% else %}
    <table class="table table-hover">
        <thead class="table-dark">
            <tr class="bg-warning">
                <th>Rental ID</th>
                <th>Customer</th>
                <th>Film</th>
                <th>Category</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th>Price ($SEK)</th>
                <th>Returned</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for rental in rentals%}
                <tr>
                    <td>{{ rental.id }}</td>
                    <td>{{ rental.cust_email }}</td>
                    <td>{{ rental.film_name }}</td>
                    <td>{{ rental.film_category }}</td>
                    <td>{{ rental.start_date.date() }}</td>
                    <td>{{ rental.end_date.date() }}</td>
                    <td>{{ rental.price }}</td>
                    <td>{{ "Yes" if rental.returned else "No" }}</td>
                    <td>
                        <a class="btn btn-outline-success" href="/rentals/return/{{rental.id}}">Return</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <hr/>
</div>
{% endblock%}