{% extends 'base.html' %}

{% block title %}
<title>Returns</title>
{% endblock%}

{% block content %}
<div class="container">
    <div>
        <h2>Return Records</h2>
        <a class="btn btn-outline-success" data-toggle="collapse" href="#latechargeinfo" role="button" aria-expanded="false" aria-controls="pricetier">
            Late charge policy
        </a>
        <div class="collapse" id="latechargeinfo">
            <div class="card card-body">
                <p>Late charge applies to overdue returns: </p>
                <ul>
                    <li>New release: 40 SEK per day for extradays</li>
                    <li>Regular film: 30 SEK per day for extradays</li>
                    <li>Old film: 30 SEK per day for extradays</li>
                </ul>
            </div>
        </div>
    </div>
    <hr/>
    {% if returns|length < 1 %}
    <h4>No film has been returned yet! Check out the rentals to return.</h4>
    <br>
    
    {% else %}
    <table class="table table-hover">
        <thead class="table-dark">
            <tr class="bg-success">
                <th>Return ID</th>
                <th>Customer</th>
                <th>Film</th>
                <th>Category</th>
                <th>Start Date</th>
                <th>Return Date</th>
                <th>Overdue Days</th>
                <th>Late Charge ($SEK)</th>
                <th>Total Price ($SEK)</th>
            </tr>
        </thead>

        <tbody>
            {% for return in returns%}
                <tr>
                    <td>{{ return.id }}</td>
                    <td>{{ return.cust_email }}</td>
                    <td>{{ return.film_name }}</td>
                    <td>{{ return.film_category }}</td>
                    <td>{{ return.start_date.date() }}</td>
                    <td>{{ return.return_date.date() }}</td>
                    <td>{{ return.overdue_days }}</td>
                    <td>{{ return.late_charge }}</td>
                    <td>{{ return.total_price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <hr/>
</div>
{% endblock%}