{% extends 'base.html' %}

{% block title %}
<title>Add a rental</title>
{% endblock%}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <form method="POST" action="/rentals/return/{{ rental.id }}">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Return a film</legend>
                    <div class="form-group">
                        {{ form.film_name.label(class="form-control-label") }}

                        {% if form.film_name.errors %}
                            {{ form.film_name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.film_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.film_name(class="form-control form-control-lg", readonly=true, placeholder="{ film.name }") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.cust_email.label(class="form-control-label") }}
                        {% if form.cust_email.errors %}
                            {{ form.cust_email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.cust_email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.cust_email(class="form-control form-control-lg", readonly=true) }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.start_date.label(class="form-control-label") }}

                        {% if form.start_date.errors %}
                            {{ form.start_date(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.start_date.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.start_date(class="form-control form-control-lg", type="date", readonly=true) }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.due_date.label(class="form-control-label") }}

                        {% if form.due_date.errors %}
                            {{ form.due_date(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.due_date.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.due_date(class="form-control form-control-lg", type="date", readonly=true) }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.return_date.label(class="form-control-label") }}

                        {% if form.return_date.errors %}
                            {{ form.return_date(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.return_date.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.return_date(class="form-control form-control-lg", type="date", readonly=true) }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-success") }}
                </div>
            </form>
        </div>
</div>

<script>
    if ( $('[type="date"]').prop('type') != 'date' ) {
        $('[type="date"]').datepicker();
    }
</script>
{% endblock%}